.link {
  text-align: center;
}

.game__table {
  text-align: center;
  font-size: 1rem;
  margin: 2rem 0;
}

.game__details {
  display: flex;
  justify-content: space-between;
}

.game__link {
  display: relative;
  justify-content: space-between;
  color: green;
}

.title {
  margin-top: 1.5rem;
}

.game-info {
  display: flex;
  justify-content: space-between;
}

@media all and (min-width: 768px) {
  .general-info {
    max-width: 45vw;
  }

  .game__map {
    width: 45vw;
    height: 400px;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .final-info {
    display: flex;
    justify-content: center;
  }

  .mail {
    color: green;
  }
  
}

  .general-info {
    display: relative;
    justify-content: space-between;
    text-align: center;
  }

.mail {
  color: green;
}
