@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&display=swap');

header {
  font-family: 'Antonio';
  font-size: 70%;
  height: 400px;
  background-image: url("./../images/design1_image1.jpg");
  background-size: cover;
  color: white;
  padding: 1rem;
  position: relative;
}

@media (max-width: 768px) {
  .list {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

a {
  text-decoration: none;
}

nav {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 1rem 1rem 0;
}

.list {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-size: 11px;
  flex-wrap: wrap;
  list-style: none;
}

.menu__link {
  background-color: white;
  padding: 0.5rem;
  border: 4px solid black;
}

.active {
  background-color:#6ffb6a;
  background: #6ffb6a;
  color: black;
  border: 4px solid white;
}

