.home__title {
    border-bottom: 5px solid black;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.2rem;
  }
  
  .logo {
    width: 150px;
    height: 150px;
  }
  
  .home__content {
    text-align: center;
  }
  
  .event__date {
    font-style: italic;
  }
  
  .event__name {
    margin-left: 1.5rem;
  }
  
  .contact {
    text-align: center;
  }
  
  @media all and (min-width: 768px) {
    .events {
      margin-left: 2rem;
    }
  
    .home__content {
      text-align: left;
      display: flex;
    }
  
    .home__title {
      margin-left: 10rem;
      width: 60%;
    }
  }